
        .card {
            display: flex;
            width: 9cm;
            height: 6.5cm;
            justify-content: center;
            align-items: center;
            background-image: url(https://vinusimages.co/wp-content/uploads/2018/10/EG7A2390.jpgA_.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }


        #datos {

            margin-top: 10px;
        }

        #inf {
            margin-top: 25px;
        }

        .image-wrapper {
            position: relative;
            padding-bottom: 10%;
            width: 100px;
            height: 100px;
            margin-top: 40px;
            margin-bottom: 5px;
        }

        .image-wrapper img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .cardreverso {
            display: flex;
            width: 9cm;
            height: 6.5cm;
            justify-content: center;
            background-image: url("../img/ci3reverso.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }


